* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  height: 60px;
  background-color: #A3DEE3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-top: 2px solid #949C9C;
}

img[alt="Dog Party Icon"] {
  height: 50px;
  width: 50px;
}

nav a {
  text-decoration: none;
  color: #FFF;
  margin: 0 12px;
  font-size: 18px;
}

/* Upper Homepage */

section#upper-homepage {
  background-image: url(../../images/park.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 28px;
}

img[alt="Good Dog 1"] {
  margin-bottom: 50px;
  border: 3px solid #528ba5;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

/* Introductions */

#introductions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.info-box {
  width: 28%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box * {
  font-size: 18px;
  margin: 8px 0;
}

.info-box p {
  text-align: center;
  font-size: 14px;
}

.dog-portrait {
  width: 200px;
  height: 200px;
  border: 3px solid #528BA5;
  border-radius: 50%;
}

/* Miscellaneous */

.homepage-button {
  border: 3px solid #528BA5;
  padding: 3px;
}

.homepage-button > a {
  color: #528BA5;
  text-decoration: none;
  font-size: 16px;
}

/* Footer */

footer {
  display: flex;
  background-color: #528BA5;
  flex-direction: column;
  align-items: center;
  height: 240px;
  justify-content: space-around;
  padding: 10px;
}

footer h2 {
  color: #FFF;
}

#social-links {
  display: flex;
  list-style: none;
  width: 420px;
  justify-content: space-around;
}

.github-link {
  color: #FFF;
}
